.hh-box{
    border-radius: 5px;
    background-color: rgb(60, 116, 144);
    box-shadow: 0 0 5px red;
    position: relative;
    display: inline-block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
    text-align: center;
    width: 1000px;
    height: 610px;
}

.hh-box-name{
    position: absolute;
    left: 0px; top: -60px; width: inherit;
    text-align: center;
    font-size: 50px;
    color: red;
}

.hh-box-noidung{
    width: 1000px;
    height: 500px;
    position: absolute;
}

.hh-box-noidung table{
    border-collapse: collapse;
}

.hh-box-noidung th, td{
    border: 5px solid yellow;
    padding: 8px;
}

.hh-box-noidung td{
    font-size: 25px;
    color: aqua;
}

.mytextbox{
    font-size: 30px;
    font-style: bold;
    color: #0000ff; background-color: rgb(255, 196, 254);
    border: 1px solid #996633; width: 500px;
}

.bang{
    margin-left: auto;
    margin-right: auto;
}